* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.nav-container {
    background-color: #000000;
    padding: 35px 15px 20px 0px;
    width: 100%;
    text-align: right;
    position: fixed;
}

.nav-container a{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
    text-decoration: none;
}

.nav-container a:hover {
    color: #ed1b23;
}

.nav-container .separateur {
    font-size: 18px;
    color: #666666;
    margin: 0px;
}

.brand-logo {
    width: 100px;
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

.brand {
    font-size: 19px;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 0px;
    color: #FFFFFF;
}

h1 {
    color: #024da1;
}

main {
    padding: 100px 30px 120px 30px;
    overflow: auto;
}

main a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* POUR SELECTIONNER TOUTES LES BALISES ENFANTS DIRECTS DE LA BALISE PARENTE FORM */
form > * {
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
}

.big-button {
    margin: 15px 0px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #4c4c4c;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #024da1;
}

footer {
    background-color: #000000;
    padding: 20px 30px 20px 15px;
    width: 100%;
    font-size: 18px;
    color: #666666;
    /* sticky footer */
    position: fixed;
    left: 0;
    bottom: 0;
}

footer a {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
}

footer a:hover {
    color: #ed1b23;
}

footer .separateur {
    font-size: 18px;
    color: #666666;
    margin: 0px;
}

footer .droits {
    font-size: 16px; 
    padding-top: 5px;
    float: right;
}