body {
    font-family: 'Trebuchet MS';
    text-align: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

i.wi {
    font-size: 5em;
    line-height: 1em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    display: none;
}