<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /simplon/projet/cms-poo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /simplon/projet/cms-poo/index.php [L]
</IfModule>