
@media screen and (max-width: 599px) {
    body {
        background-color: lightcoral;
    }
}

@media screen and (min-width: 600px) {
    /* Les propriétés CSS ici ne seront appliquées que si la condition est true 
    c'est à dire ne seront appliquées que pour les écrans de 600px ou plus */
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.8rem;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-color: #333333;
    }

    h1, h2, p {
        color: #FFFFFF;
    }

    section#services {
        display: flex;
    }

    section#services article {
        margin: 20px;
    }
    nav {
        display: none;
    }
}