* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

.nav-container {
    background-color: #000000;
    padding: 20px 5% 20px 0px;
    width: 100%;
    text-align: right;
}

.nav-container a{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
}

.nav-container a:hover {
    color: #47c7ff;
}

h1 {
    color: #4f4d4d;
    font-size: 30px;
}

h2 {
    color: #8a8a8a;
    font-size: 25px;
    margin-top: 1px;
}

h3 {
    color: #8b8b8b;
    font-size: 20px;
}

.description {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
    color: #4f4d4d;;
    padding: 30px 50px;
}

.description .container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.description .colonne {
    margin-right: 50px;
    max-width: 100%;
    width: calc(50% - 50px); 
}

.description .colonne img {
    width: 100%;
}

.services {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
    color: #4f4d4d;;
    padding: 30px 50px;
}

.services .container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.services .colonne {
    margin-right: 40px;
    max-width: 100%;
    width : calc(100% / 3 - 40px);
    /* POUR LES DIVISIONS AVEC VIRGULE COMME 33,3333 % */
}

.services .colonne img {
    width: 100%;
    margin-bottom: 15px;
}

.contact {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
    color: #4f4d4d;;
    padding: 30px 50px;
}

.contact .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contact .colonne {
    max-width: 100%;
    width: 50%;
}

.contact .champ {
    margin-bottom: 20px;
    width: 450px;
    padding: 10px;
    border-radius: 7px;
    border: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.contact .champ-message {
    margin-bottom: 20px;
    width: 450px;
    padding: 10px;
    height: 80px;
    border-radius: 7px;
    border: 0;
    /* car textarea est different de text*/
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.contact .bouton {
    font-size: 18px;
    background-color: #8b8b8b;
    color: #FFFFFF;
    width: 450px;
    padding: 20px;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
}

.contact .bouton:hover {
    background-color: #636363;
}

.contact .mail {
    color: #939393;   
}

.contact .mail:hover {
    color: #009add;   
}

footer {
    background-color: #000000;
    padding: 30px 50px;
    width: 100%;
    color: #FFF
}

.confirmation {
    margin-top: 40px;
}