* {
    box-sizing: border-box;
}

body {
	width: 60%;
	height: 100%;
	font-family: Arial;
    font-size: 16px;
    letter-spacing: 0.02em;
	color: #000000;
	padding: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 40px;
}

body >* {
	width: 100%;
	padding: 0px 20px;
}

header {
	background-color: #30cab4;
	margin-bottom: 10px;
	border-radius: 7px 7px 0px 0px;
}

h1 {
    margin: 40px 0px;
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
}

h2 {
	font-size: 1.5em;
    color: #30cab4;
    font-weight: 600;
	font-variant-caps: all-small-caps;
}

/* pour cacher le formulaire delete */
.cache {
    display: none;
}

/* form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 0.2rem;
    padding: 0.2rem;
} */

label {
	margin-bottom: 10px;
	font-size: 20px;
	display: block;
	color: #9f9f9f;
	font-weight: bold;
	font-variant-caps: all-small-caps;
}

input {
	margin-bottom: 40px;
	padding: 10px;
	font-size: 20px;
	font-family: Arial;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #aaa;
	color: #777;
}

.list-radio {
    margin-bottom: 30px;
}

/* on cache le bouton radio par défaut du navigateur */
.input-radio {
    width: 15px;
    margin: 0px 5px 20px 0px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* on crée un bouton radio perso */
.checkmark {
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 0px;
	background-color: #E6E6E6;
	border-radius: 50%;
	display: inline-block;
    border: 2px solid #9F9F9F;
    cursor: pointer;
}
  
/* avec mouse-over, on change avec un gris plus foncé */
.input-radio:hover ~ .checkmark {
    background-color: #9F9F9F;
}
  
/* Quand le bouton radio est coché, on ajoute une couleur spécifique */
.input-radio:checked ~ .checkmark {
	background-color: #30cab4;
	border: 2px solid #30cab4;
}
  
/* On crée l'indicateur (le rond blanc) caché quand non coché */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}
  
/* On montre l'indicateur (le rond blanc) visible quand coché */
.input-radio:checked ~ .checkmark:after {
    display: block;
}
  
/* On style l'indicateur (le rond blanc) */
.checkmark::after {
	position: relative;
	top: 20%;
	left: 20%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFFFFF;
}

.input-statut {
	color: inherit;
	cursor: pointer;
	position: relative;
	top: -10px;
}

.bouton {
	width: 100%;
	padding: 25px 0px;
    font-size: 23px;
    font-weight: 700;
    font-variant-caps: all-small-caps;
	color: #FFFFFF;
	background-color: #30cab4;
	border-radius: 8px;
	border: 0px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 50px;
	transition: all 0.3s;
}

.bouton:hover {
	background-color: #249383;
	transition: all 0.3s;
}

.listTodo {
    display:flex;
    flex-wrap: wrap;
	width:100%;
	margin-top: -20px;
}

.listTodo article {
    border: 0px solid #aaaaaa;
    padding: 5px 10px 15px 10px;
    margin: 0.4rem;
    width: calc(100% / 3 - 0.8rem); /* IL FAUT ENLEVER LE MARGIN x 2 PUISQUE 3 COLONNES*/
	border-radius: 8px;
	margin-bottom: 25px;
}

article {
    transition: all 0.3s;
}

article:hover {
    border: 0px solid #aaa;
    box-shadow: 1px 2px 8px #00000047;
    margin: 0.3rem;
    width: calc(100% / 3 - 0.6rem);
    position: relative;
    top: -1px;
	transition: all 0.2s;
	margin-bottom: 25px;
}

article .trou {
	width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #00000066;
    float: right;
    margin-top: 8px;
}

article.todo {
    background-color: #fcfc83;
}

article.ongoing {
    background-color: #ffd8a8;
}

article.done {
    background-color: #abedc1;
}

article h3 {
	font-size: 1.4rem;
    font-weight: 700;
	font-variant-caps: all-small-caps;
	text-align: left;
    margin-top: 15px;
}

article.todo h3 {
	color: #7f8000;
}

article.ongoing h3 {
	color: #b36200;
}

article.done h3 {
    color: #367d4d;
}

article p {
	font-size: 1rem;
	font-weight: 400;
	color: #666666;
}

article p.statut {
	font-size: 1.3rem;
	font-weight: 700;
	font-variant-caps: all-small-caps;
}

article.todo p.statut {
	color: #7f8000;
}

article.ongoing p.statut {
	color: #b36200;
}

article.done p.statut {
	color: #367d4d;
}

article img {
    width:100%;
    /* height:13vh; */
    object-fit:cover;
    border-radius: 5px;
}

article button {
	width: 100%;
	padding: 20px 0px;
	font-size: 1.2rem;
	font-weight: 700;
	font-variant-caps: all-small-caps;
	color: #FFFFFF;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 0px;
}

article.todo button.update {
	background-color: #cccc00;
	transition: all 0.3s;
} 

article.todo button.update:hover {
	background-color: #999900;
	transition: all 0.3s;
} 

article.todo button.delete {
	background-color: #7f8000;
	transition: all 0.3s;
}

article.todo button.delete:hover {
	background-color: #5c5c00;
	transition: all 0.3s;
}

article.ongoing button.update {
	background-color: #ff981a;
	transition: all 0.3s;
} 

article.ongoing button.update:hover {
	background-color: #e67e00;
	transition: all 0.3s;
} 

article.ongoing button.delete {
	background-color: #b36200;
	transition: all 0.3s;
}

article.ongoing button.delete:hover {
	background-color: #8f4f00;
	transition: all 0.3s;
}

article.done button.update {
	background-color: #4db36f;
	transition: all 0.3s;
} 

article.done button.update:hover {
	background-color: #3d8f58;
	transition: all 0.3s;
} 

article.done button.delete {
	background-color: #295638;
	transition: all 0.3s;
}

article.done button.delete:hover {
	background-color: #1e3e29;
	transition: all 0.3s;
}





